<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90701682847-tee12jtfq4ich0vc7m9bij91ljplsqee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90701682847-tee12jtfq4ich0vc7m9bij91ljplsqee</string>
	<key>API_KEY</key>
	<string>AIzaSyDKyesWYvJYv_tRB59Dp875CotjpLNvpAc</string>
	<key>GCM_SENDER_ID</key>
	<string>90701682847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp</string>
	<key>PROJECT_ID</key>
	<string>vserv-4c063</string>
	<key>STORAGE_BUCKET</key>
	<string>vserv-4c063.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90701682847:ios:e5379e8c3979096b9ceaaa</string>
</dict>
</plist>